* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

nav {
  background: #111;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero span {
  color: #00eaff;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #00eaff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 50px;
  text-align: center;
}

.skills-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.skills-box div {
  background: #0566dd;
  padding: 15px;
  border-radius: 5px;
}

.project {
  background: #06b0c3;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 5px;
}

footer {
  background: #111;
  color: #e3e3e3;
  padding: 15px;
  text-align: center;
}